<p id="notice"><%= notice %></p>


<script>
  function change(par) {
    var field = $("#record_weight");
    var num = +field.val() + par
    field.val(num.toFixed(1));
  }
</script>
<div class="container">
  <div class="row">
    <h1>Records</h1>
  </div>
  <div class="row">
    <%= form_for(@record, :remote => true) do |form| %>

    <%= button_tag "-", onclick: "change(-0.1)", type: :button, :class=>"two columns" %>
    <%= form.text_field :weight, :class=>"four columns"  %>
    <%= button_tag "+", onclick: "change(0.1)", type: :button, :class=>"two columns"  %>
    <%= form.button "save", {:value=>"submit", :class=>"two columns" } %>

    <% end %>

  </div>
</div>

<table class="container ">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Datetime</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody id="record_table_0">
    <% @records.each do |record| %>
      <%= render 'item', record: record %>
    <% end %>
  </tbody>
</table>

<br>
