<p id="notice"><%= notice %></p>


<script>
  function change(par) {
    var field = $("#record_weight");
    var num = +field.val() + par
    field.val(num.toFixed(1));
  }
</script>
<div class="container">
  <h1>Records</h1>
  <%= form_for(@record, :remote => true) do |form| %>
  <div class="btn-toolbar" role="toolbar" >
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= button_tag "-", onclick: "change(-0.1)", type: :button, :class =>"btn btn-primary" %>
      <%= form.text_field :weight, :maxlength => "6" , :class=>""  %>
      <%= button_tag "+", onclick: "change(0.1)", type: :button, :class =>"btn btn-primary"  %>
    </div>
    <div class="btn-group  pl-1">
      <%= form.button "save", {:value=>"submit", :class =>"btn btn-primary" } %>
    </div>
  </div>
  <% end %>
</div>

<table class="table container">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Datetime</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody id="record_table_0">
    <% @records.each do |record| %>
      <%= render 'item', record: record %>
    <% end %>
  </tbody>
</table>

<br>
